body {
    font-family: Roboto;
    font-weight: 400;
    color:#163152;
    line-height: 24px;
    margin: 0;
}
h2 {
    font-weight: 700;
    font-size: 24px;   
}
/* Основная часть */
.main-content {
    width: 1170px;
    margin: 0 auto;
    padding: 0 55px;
}
.main-content h2 {
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
    text-underline-position: under;
}
.main-content h1 {
    margin: 0;
    margin-bottom: 40px;
}
.services {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(22, 49, 82, 0.1);
}
.services-content {
    display: flex;
    width: 1170px;
    align-items: center;
}
.location {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 25px;
    margin-right: auto;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    background-image: url(../img/pin.svg);
    background-repeat: no-repeat;
    background-position: left center;
} 
.location:hover {
    opacity: 0.5;
}
.location:active {
    opacity: 0.3;
}
.caption {
    margin: 0;
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}
.theme-switcher {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 30px;
    display: flex;
}
.theme-switcher li {
    margin-right: 10px;
} 
.theme-switcher li:last-child {
    margin-right: 0;
}
.theme-button-light {
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("../img/sun.svg");
    border: 1px solid #00c6bd;
    border-radius: 50%;
    cursor: pointer;
}
.theme-button-light:hover {
    opacity: 0.5;
}
.theme-button-light:active {
    opacity: 0.3;
}
.theme-button-light.active {
    background-image: url("../img/sun-light.svg");
}
.theme-button-dark {
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    background-image: url("../img/moon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 1px solid #00c6bd;
    border-radius: 50%;
    cursor: pointer;
}
.theme-button-dark:hover {
    opacity: 0.5;
}
.theme-button-dark:active {
    opacity: 0.3;
}
.theme-button-dark.active {
    background-image: url(../img/moon-light.svg);
}
.fonts {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.fonts li {
    margin-right: 10px;
} 
.fonts li:last-child {
    margin-right: 0;
}
.font-button-sans-serif {
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 16px;
    line-height: 14px;
    background-color: transparent;
    border: 1px solid #00c6bd;
    border-radius: 50%;
    cursor: pointer;
}
.font-button-sans-serif:hover {
    opacity: 0.5;
} 
.font-button-sans-serif:active {
    opacity: 0.3;
} 
.font-button-serif {
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    font-family: "Philosopher", serif;
    font-size: 16px;
    line-height: 14px;
    background-color: transparent;
    border: 1px solid #00c6bd;
    border-radius: 50%;
    cursor: pointer;
} 
.font-button-serif:hover {
    opacity: 0.5;
} 
.font-button-serif:active {
    opacity: 0.3;
} 

/* Шапка */
.main-header {
    width: 1170px;
    margin: 0 auto;
    padding: 0 55px;
    padding-bottom: 20px;
    margin-bottom: 40px;
 }
 .main-nav {
    margin-top: 20px;
    display: flex;
    align-items: center;
 }
 .logo{
    width: 64px;
    margin-right: 471px; ;
 }
 .site-navigation {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 560px;
 }
.site-navigation-item {
    margin-right: 30px;
} 
.site-navigation-item:last-child {
    margin-right: 0;
} 
.site-navigation-item a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #163152;
    text-decoration: none;
}
.site-navigation-item:hover {
    opacity: 0.5;
}
.site-navigation-item:active {
    opacity: 0.3;
}
.profile { 
    width: 34px;
    height: 34px;
    border-radius: 50px;
    border: 1px solid #00c6bd;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile:hover {
    opacity: 0.5;
}
.profile:active {
    opacity: 0.3;
}

/* Главная секция 1 часть команды*/
.hero {
    margin-bottom: 120px;
}
.hero h1 {
    margin-left: 70px;
    font-weight: normal;
    font-size: 44px;
    font-style: italic;
    text-transform: uppercase;
    line-height: 60px;
}
.team {
    width: 1030px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
}
.article-1 {
    width: 400px;
    margin-right: 30px;
}
.more {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    background-color: transparent;
    border: none;
    display: none;
}
.more:hover {
    text-decoration: none;
    opacity: 0.5;
}  
.more:active {
    text-decoration: none;
    opacity: 0.3;
}

/* скрыть статью */
.article.short .section-kids-description,
.article.short .try-yourself-part {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.article.short .more {
    display: inline-block;
} 

/* Секция 2 про детей  */
.section-kids {
    width: 1030px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 120px;
}
.article-2 {
    order:2;
    width: 400px;
    margin-left: 30px;
    text-align: right;
}
.date {
    margin-top: 0;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
/* Аренда яхт */
.rent-cards-section h2{
    margin-bottom: 55px;
    margin-top: 0;
}
.rent-top-part {
    display: flex;
    justify-content: space-between;
}
.card-view-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    justify-content: end;   
}
.card-view-button-grid {
    width: 40px;
    height: 40px;
    background-image: url(../img/grid.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #00c6bd;
    cursor: pointer;
}
.card-view-button-grid:hover {
    opacity: 0.5;
}
.card-view-button-grid:active {
    opacity: 0.3;
}
.card-view-button-grid.active{
    background-image:url(../img/grid-light.svg);
}
.card-view-button-list {
    width: 40px;
    height: 40px;
    background-image: url(../img/list.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #00c6bd;
    cursor: pointer;
}
.card-view-button-list:hover {
    opacity: 0.5;
}
.card-view-button-list:active {
    opacity: 0.3;
}
.card-view-button-list.active{
    background-image:url(../img/list-light.svg);
}
.boats-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 30px;
    justify-content:center
}
.rent-card {
    width: 370px;
    background-color: rgba(253, 253, 255, 1);
    box-shadow: 0 4px 30px rgba(22, 49, 82, 0.12);
    padding: 30px;
    box-sizing: border-box;
}
.rent-card img {
    display: block;
}
.rent-card h3 {
    margin-top: 21px;
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
}
.rent-card p {
    margin-bottom: 0;
    width: 310px;
    font-size: 14px;
    line-height: 24px;
}
.rent-card ul {
    padding-left: 18px;
    list-style-type: disc;
    margin-top: 15px;
    margin-bottom: 29px;
}
.boat-features li {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 19px;
}
.rent-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rent-price span {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
}

/* вертикальная раскладка карточек */
.boats-list.list {
    flex-direction: column;
}
.boats-list.list .rent-card{
    display: flex;
    width: 1110px;
    margin: 0;
    margin-bottom: 30px;
    box-sizing: content-box;
}
.boats-list.list .rent-card img {
    width: 340px;
    height: 211px;
    margin: 0;
    margin-right: 30px;
    object-fit: cover;
}
.boats-list.list .rent-card h3 {
    margin: 0;
    margin-bottom: 10px;
}
.boats-list.list .rent-card .boat-features {
    margin: 0;
    margin-top: 15px;
}
.boats-list.list .card-content {
    margin-right: auto;
    max-width: 345px;
}

.boats-list.list .rent-price {
    margin: 0;
    display: block;
}
/* Галерея */
.gallery {
    margin-bottom: 120px;
    margin-top: 120px;
}
.gallery h2 {
    margin: 0;
    margin-bottom: 55px;
    text-align: center;
}
.active-photo{
    display: block;
    margin-right: 30px;
    width: 970px;
    height: 690px;
}
.gallery-wrapper {
    display: flex;
    align-items: flex-start;
}
.gallery-column {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 170px;
    height: 690px;
}
.gallery-column li {
    margin-bottom: 30px;
    line-height: 0;
}
.gallery-column li:last-child{
    margin-bottom: 0;
}
.gallery-column img {
    display: block;
}
.gallery-column a {
    display: block;
    position: relative;
    height: 150px;
}
.gallery-column a::before {
    content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
}
.gallery-column a.active-item::before {
    background-color: transparent;
}
/* Новости */
figure {
    margin: 0;
}
.news {
    width: 770px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.news h2{
    text-align: center;
    margin-bottom: 55px;
    margin-top: 0;
}
.post-img {
    margin: 0;
  }

.post-img img {
    margin-bottom: 17px;
}  

.post-img figcaption{
    font-size: 16;
    line-height: 19px;
    color: #8693A4;
}
.post h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.post p{
    font-size: 18px;
    line-height: 26px;
}

.post h4{
    font-size: 20px;
    line-height: 26px;
}
.post ul {
    font-size: 18px;
    line-height: 26px;
}

.news ins{
    text-decoration: none;
}

.post blockquote{
    font-weight: bold;
    font-size:  26px;
    line-height: 36px;
}
.post-meta a {
    display: block;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    color: #163152;
    text-decoration: none;
    margin-bottom: 9px;
}
.post-meta time {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #8693a4;
}
.post-footer {
    display: flex;
    margin-top: 40px;
}
.post-author-img {
    margin-right: 15px;
}
.post-share {
    margin-left: auto;
    margin-top: 19px;
}
.post-meta {
    margin-top: 7px;
}
/* Контакты */
.contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    flex-direction: row-reverse;
}
.contacts-content {
    width: 400px;
    margin-top: 50px;
}
.contact-items {
    list-style: none;
    padding: 0;
}
.contacts h2{
    margin: 0;
    margin-bottom: 35px;
}
.contact-item {
    font-size: 16px;
}

.contact-item h3 {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 15px;
    font-weight: 700px;
    font-size: 16px;
    line-height: 22px;
}
.contact-item address {
    font-style: normal;
}
.contact-item a {
    color: #163152;
    text-decoration: none;
}
.contacts-img {
    margin-right: 100px;
}
.social-list {
    display: flex;
    gap:15px;
    list-style: none;
    padding: 0;
}
.social-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid rgba(0, 198, 189, 1);
    border-radius: 50%;
}

/* Подвал */
.main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 10px;
    line-height: 12px;
}
.footer-container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 55px;
    display: flex;
    justify-content: space-between;
}
.footer-column {
    width: 175px;
    margin-right: 125px;
}

.footer-navigavion-topics {
    display: flex;
    justify-content: space-between;
    width: 870px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    line-height: 16px;
   }
.footer-navigation-topic {
    width: 165px;
}

.footer-navigavion-topics h2{
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
}

.footer-column .logo {
    width: 100px;
    margin: 0;
    margin-bottom: 30px;
}

.footer-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-navigation-item a {
    display: block;
}
.footer-navigation-item {
    margin-bottom: 12px;
}

/* ---------------остальное------------ */
a{
    text-decoration: none;
    color:#163152
}
.post-img img {
    margin: 0;
}
.active {
    background-color: #00c6bd;
    color: #fdfdff;
}
.page a:hover {
    opacity: 0.5;
}
.page a:active {
    opacity: 0.3;
}
.page.serif {
    font-family: "Philosopher", serif;
}
.page.dark {
    color: #fdfdff;
    background-color: #1d1f1f;
}
.page.dark .font-button-sans-serif {
        color: #fdfdff;
}
.page.dark .font-button-serif {
    color: #fdfdff;
}
.page.dark .theme-button-light {
    background-image: url("../img/sun-light.svg");
} 
.page.dark .logo img {
    filter: brightness(20);
}
.page.dark a {
    color: #fdfdff;
} 
.page.dark a:hover {
    opacity: 0.5;
}
.page.dark a:active {
    opacity: 0.3;
} 
.page.dark .profile img {
    filter: brightness(20);
}
.page.dark .card-view-button-grid {
    background-image: url("../img/grid-light.svg");
} 
.page.dark .card-view-button-list {
    background-image: url("../img/list-light.svg");
}
.page.dark .rent-card {
    color: #ffffff;
    background-color: #1d1f1f;
    box-shadow: 0 4px 30px #181a1a;
}
.page.dark .meta time {
    color: rgba(253, 253, 255, 0.5);
}
.page.dark .social-item img {
    filter: brightness(20);
}
  
.page.dark .post-share {
    filter: brightness(20);
}
  
